<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Mi turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <table class="table table-secondary table-bordered w-50 text-center mb-2">
                    <thead>
                        <tr>
                            <th>Día de la semana</th>
                            <th>Fecha</th>
                            <th>Turno</th>
                            <th>Cambiar turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shif of shifts; let i = index">
                            <td>{{days[i]}}</td>
                            <td>{{shift.dates[i]}}</td>
                            <td>{{shifts[i]}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>