<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Mi turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <table class="table table-secondary table-bordered w-50 text-center mb-2 m-auto">
                    <thead>
                        <tr>
                            <th>Día de la semana</th>
                            <th>Fecha</th>
                            <th>Turno</th>
                            <th>Cambiar turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{days[0]}}</td>
                            <td>{{employeeSchedule.dates[0]}}</td>
                            <td>{{employeeSchedule.shifts.monday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[1]}}</td>
                            <td>{{employeeSchedule.dates[1]}}</td>
                            <td>{{employeeSchedule.shifts.tuesday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[2]}}</td>
                            <td>{{employeeSchedule.dates[2]}}</td>
                            <td>{{employeeSchedule.shifts.wednesday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[3]}}</td>
                            <td>{{employeeSchedule.dates[3]}}</td>
                            <td>{{employeeSchedule.shifts.thursday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[4]}}</td>
                            <td>{{employeeSchedule.dates[4]}}</td>
                            <td>{{employeeSchedule.shifts.friday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[5]}}</td>
                            <td>{{employeeSchedule.dates[5]}}</td>
                            <td>{{employeeSchedule.shifts.saturday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{days[6]}}</td>
                            <td>{{employeeSchedule.dates[6]}}</td>
                            <td>{{employeeSchedule.shifts.sunday}}</td>
                            <td>
                                <a routerLink="/changeTurno" class="btn btn-warning">Cambiar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>