<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Todos los turnos</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">


                <div class="row mb-5">
                    <div class="col-4 text-center">
                        <a class="btn btn-secondary">Semana anterior</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="btn btn-secondary">Semana actual</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="btn btn-secondary">Próxima semana</a>
                    </div>
                </div>

                <table class="table table-secondary table-bordered w-50 text-center m-auto mb-3">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let schedule of currentSchedule">
                            <td>{{schedule.employeeName}}</td>
                            <td>{{schedule.shifts.monday}}</td>
                            <td>{{schedule.shifts.tuesday}}</td>
                            <td>{{schedule.shifts.wednesday}}</td>
                            <td>{{schedule.shifts.thursday}}</td>
                            <td>{{schedule.shifts.friday}}</td>
                            <td>{{schedule.shifts.saturday}}</td>
                            <td>{{schedule.shifts.sunday}}</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>