<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Solicitar cambio de turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <form [formGroup]="myForm">
                    <div class="row mb-4">
                        <p>¿Con que compañero quieres cambiar el turno?</p>
                        <select class="form-select" formControlName="affectedEmployee">
                            <option *ngFor="let employeeName of employeesNames" value="{{employeeName}}">
                                {{employeeName}}
                            </option>

                        </select>
                    </div>
                    <div class="row mb-5">
                        <p>¿Que día quieres cambiar?</p>
                        <input class="form-control" type="date" formControlName="changeDate">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="createChange()">Solicitar cambio</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-footer text-danger">
            Recuerda que el cambio no será efectivo hasta que un responsable lo autorice.
        </div>
    </div>
</div>