<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header pt-3">
            <h2 class="text-center">Crear calendario semanal</h2>
        </div>

        <div class="card-body mb-5">

            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                <div class="row mb-4">
                    <h5>Días de la semana</h5>
                    <hr>
                    <div class="row">

                        <div class="col-6">
                            <label for="from">Desde: </label>
                            <input class="form-control" formControlName="from" type="date" id="from">
                        </div>
                        <div class="col-6">
                            <label for="to">Hasta: </label>
                            <input class="form-control" formControlName="to" type="date" id="to">
                        </div>

                    </div>

                </div>

                <div class="row mb-4">
                    <h5>Empleados</h5>
                    <hr>
                    <div class="col-12">
                        <label for="employeeName">Nombre: </label>
                        <select class="form-select" id="employeeName" formControlName="employeeName">
                            <option *ngFor="let employeeName of employeeNames" value="{{employeeName}}">{{employeeName}}
                            </option>
                        </select>
                        <table class="table table-striped table-bordered mt-3">
                            <thead>
                                <td class="text-center">L</td>
                                <td class="text-center">M</td>
                                <td class="text-center">X</td>
                                <td class="text-center">J</td>
                                <td class="text-center">V</td>
                                <td class="text-center">S</td>
                                <td class="text-center">D</td>
                            </thead>
                            <tr>
                                <td>
                                    <select class="form-select" formControlName="mondayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="tuesdayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="wednesdayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="thursdayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="fridayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="saturdayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" formControlName="sundayShift">
                                        <option></option>
                                        <option *ngFor="let shiftName of shiftsNames" value="{{shiftName}}">
                                            {{shiftName}}</option>
                                    </select>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <input class="btn btn-warning my-3 col-3 ms-2" type="submit" value="Crear">
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/luxon@2.2.0/src/datetime.min.js"></script>