<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Cambiar contraseña</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <form [formGroup]="myForm">
                    <div class="row mb-4">
                        <p>Introduce nueva contraseña</p>
                        <input class="form-control" formControlName="newPassword" type="password">
                    </div>
                    <div class="row mb-4">
                        <p>Confirma nueva contraseña</p>
                        <input class="form-control" formControlName="confirmPassword" type="password">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="change()">Modificar contraseña</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>