<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Cambiar contraseña</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <div *ngIf="currentPassIsEmpty" class="alert alert-danger" role="alert">
                    La contraseña introducida no puede estar vacía.
                </div>
                <div *ngIf="isNotCorrectPassword" class="alert alert-danger" role="alert">
                    La contraseña introducida no coincide con la contraseña actual.
                </div>
                <div *ngIf="newPassIsEmpty" class="alert alert-danger" role="alert">
                    La nueva contraseña no puede estar vacía.
                </div>
                <div *ngIf="isNewPassInvalid" class="alert alert-danger" role="alert">
                    Las contraseñas deben ser iguales. Por favor intentalo de nuevo.
                </div>
                <div *ngIf="correctChange" class="alert alert-success" role="alert">
                    Se ha cambiado la contraseña!!
                </div>
                <form [formGroup]="myForm">
                    <div class="row mb-4">
                        <p>Introduce contraseña actual</p>
                        <input class="form-control" formControlName="password" type="password">
                    </div>
                    <div class="row mb-4">
                        <p>Introduce nueva contraseña</p>
                        <input class="form-control" formControlName="newPassword" type="password">
                    </div>
                    <div class="row mb-4">
                        <p>Confirma nueva contraseña</p>
                        <input class="form-control" formControlName="confirmPassword" type="password">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="change()">Modificar contraseña</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>