@font-face {
  font-family: 'bodyFont';
  src: url('../assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'headerFont';
  src: url('../assets/fonts/ArchitectsDaughter-Regular.ttf');
}

* {
  font-family: 'bodyFont';
}

#header {
  font-family: 'headerFont';
}
