<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Crear turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <div *ngIf="nameIsEmpty" class="alert alert-danger" role="alert">
                    El nombre no puede estar vacío.
                </div>
                <div *ngIf="shiftIsEmpty" class="alert alert-danger" role="alert">
                    El horario no puede estar vacío.
                </div>
                <div *ngIf="shiftCreated" class="alert alert-success" role="alert">
                    Horario creado correctamente.
                </div>
                <form [formGroup]="myForm">
                    <div class="row mb-4">
                        <p>Introduce el nombre del nuevo turno</p>
                        <input class="form-control" formControlName="name" type="text">
                    </div>
                    <div class="row mb-4">
                        <p>Introduce el horario del nuevo turno</p>
                        <input class="form-control" formControlName="shift" type="text">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="createShift()">Crear</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>