<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Crear turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-4">
                        <p>Introduce nombre</p>
                        <input class="form-control" formControlName="name" type="text">
                    </div>
                    <div class="row mb-4">
                        <p>Introduce horario</p>
                        <input class="form-control" formControlName="shift" type="text">
                    </div>
                    <div class="row mb-4">
                        <p>Introduce número de horas nocturnas</p>
                        <input class="form-control" formControlName="nightHours" type="number" step="0.5">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" type="submit">Crear</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>