<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Historial de turnos</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">

                <table class="table table-secondary table-bordered text-center m-auto mb-3 mt-4">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>L</th>
                            <th>M</th>
                            <th>X</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let schedule of schedulesOfEmployee">

                            <td>{{schedule.dates[0]}} - {{schedule.dates[6]}}</td>
                            <td>{{schedule.shifts.monday}}</td>
                            <td>{{schedule.shifts.tuesday}}</td>
                            <td>{{schedule.shifts.wednesday}}</td>
                            <td>{{schedule.shifts.thursday}}</td>
                            <td>{{schedule.shifts.friday}}</td>
                            <td>{{schedule.shifts.saturday}}</td>
                            <td>{{schedule.shifts.sunday}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>