<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Gestión de cambios de turno</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <div *ngIf="isEmptyChanges; else noEmpty">
                    <h4 class="text-center mt-5">No hay cambios pendientes</h4>
                </div>

                <ng-template #noEmpty>
                    <div *ngFor="let change of changes" class="bg-secondary border rounded m-auto">
                        <h4 class="my-3">Solicitud de cambio </h4>
                        <hr>
                        <p>Empleados solicitantes del cambio: <b>{{change.applicantEmployeeName}} -
                                {{change.affectedEmployeeName}}</b></p>
                        <p>Fecha del cambio: <b>{{change.changeDate}}</b></p>

                        <p>Turnos antes del cambio:
                            <br>
                            <b>
                                {{change.applicantEmployeeName}}: {{change.applicantShift}} /
                                {{change.affectedEmployeeName}}: {{change.affectedShift}}
                            </b>
                        </p>

                        <p>Turnos después del cambio:
                            <br>
                            <b>
                                {{change.applicantEmployeeName}}: {{change.affectedShift}} /
                                {{change.affectedEmployeeName}}: {{change.applicantShift}}
                            </b>
                        </p>
                        <p>
                            <button class="btn btn-warning mx-3"
                                (click)="acceptChange(change.id, change.applicantSchedule, change.affectedSchedule, change.index)">
                                Aceptar
                            </button>
                            <button class="btn btn-danger" (click)="declineChange(change.id)">Rechazar</button>
                        </p>
                    </div>
                </ng-template>

            </div>
        </div>

    </div>
</div>