<div class="row bg-light mx-3 rounded mt-5">
    <div class="card ">

        <div class="card-header">
            <h2 class="text-center">Eliminar empleado</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">
                <form [formGroup]="myForm">
                    <div class="row mb-5">
                        <p>Introduce el nombre del empleado que quieres eliminar</p>
                        <select class="form-select" formControlName="name">
                            <option *ngFor="let employee of employees" class="text-black" value="{{employee.name}}">
                                {{employee.name}}</option>
                        </select>
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="deleteEmployee()">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>