<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="shifts/allShifts">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Turnos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item" routerLink="shifts/allShifts">Todos los turnos</li>
                        <li class="dropdown-item" routerLink="shifts/myShift">Mi turno</li>
                        <li class="dropdown-item" routerLink="shifts/changeShift">Cambiar turno</li>
                        <li class="dropdown-item" routerLink="shifts/typesShifts">Tipos de turnos</li>
                        <li class="dropdown-item" routerLink="shifts/allMyShifts">Historial</li>
                        <li class="dropdown-item" routerLink="shifts/pendingChanges">Cambios solicitados</li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3" *ngIf="isABoss">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión de turnos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item" routerLink="shiftManagement/shiftChanges">Cambios de turno</li>
                        <li class="dropdown-item" routerLink="shiftManagement/shiftCreate">Crear turno</li>
                        <li class="dropdown-item" routerLink="shiftManagement/shiftDelete">Eliminar turno</li>
                        <li class="dropdown-item" routerLink="shiftManagement/scheduleCreate">Crear calendario semanal
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3" *ngIf="isABoss">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión de empleados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item" routerLink="employees/createEmployee">Crear empleado</li>
                        <li class="dropdown-item" routerLink="employees/deleteEmployee">Eliminar empleado</li>
                    </ul>
                </li>
                <li class="nav-item mx-3 text-secondary mt-2" routerLink="employees/changePassword">Cambiar contraseña
                </li>
            </ul>
        </div>
    </div>
</nav>