<div class="row bg-light mx-3 rounded mt-5">
    <div class="card">

        <div class="card-header">
            <h2 class="text-center">Crear empleado</h2>
        </div>

        <div class="card-body mb-5">
            <div class="row">

                <div *ngIf="isNotValidName" class="alert alert-danger" role="alert">
                    El nombre ya existe. Por favor intentalo de nuevo.
                </div>
                <div *ngIf="isNotEmptyName" class="alert alert-danger" role="alert">
                    El campo nombre no puede estar vacío.
                </div>
                <div *ngIf="isNotSamePassword" class="alert alert-danger" role="alert">
                    Las contraseñas deben ser iguales. Por favor intentalo de nuevo.
                </div>
                <div *ngIf="isNotEmptyPassword" class="alert alert-danger" role="alert">
                    Las contraseñas no pueden estar vacías.
                </div>
                <form [formGroup]="myForm">
                    <div class="row mb-4">
                        <p>Introduce el nombre</p>
                        <input class="form-control" formControlName="name" type="text">
                    </div>
                    <div class="row mb-4">
                        <p>Introduce el email</p>
                        <input class="form-control" formControlName="email" type="email">
                    </div>
                    <div class="row mb-4">
                        <p>Tipo de empleado</p>
                        <select class="form-select" formControlName="isABoss">
                            <option value="false" selected>Normal</option>
                            <option value="true">Jefe</option>
                        </select>
                    </div>
                    <div class="row mb-4">
                        <p>Introduce contraseña</p>
                        <input class="form-control" formControlName="password" type="password">
                    </div>
                    <div class="row mb-4">
                        <p>Repite la contraseña</p>
                        <input class="form-control" formControlName="confirmPassword" type="password">
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-warning" (click)="createEmployee()">Crear</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>